{
  "version": 6,
  "configurePresets": [
    {
      "name": "clion",
      "hidden": true,
      "cacheVariables": {
        "RD_GIT_NO_HASH": "OFF"
      },
      "vendor": {
        "jetbrains.com/clion": {
          "toolchain": "Linux x64 native"
        }
      }
    },
    {
      "name": "clion-linux-dev",
      "inherits": ["linux-dev", "clion"],
      "displayName": "Linux Dev (Clion)",
      "description": "Configuration for Linux Dev builds in Clion",
      "binaryDir": "${sourceDir}/build-Linux-64-dev",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Linux"
      }
    },
    {
      "name": "clion-linux-release",
      "inherits": ["linux-release", "clion"],
      "displayName": "Linux Release (Clion)",
      "description": "Configuration for Linux Release builds in Clion",
      "binaryDir": "${sourceDir}/build-Linux-64-release",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Linux"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "clion",
      "hidden": true,
      "jobs": 16
    },
    {
      "name": "clion-linux-dev",
      "configurePreset": "clion-linux-dev",
      "inherits": "clion",
      "displayName": "Linux Dev (Clion)",
      "description": "Cmake build configuration for Linux Dev builds in Clion",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Linux"
      }
    },
    {
      "name": "clion-linux-release",
      "configurePreset": "clion-linux-release",
      "inherits": "clion",
      "displayName": "Linux Release (Clion)",
      "description": "Cmake build configuration for Linux Release builds in Clion",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Linux"
      }
    }
  ]
}
