1 ICON "../data/doom.ico"

1 VERSIONINFO
PRODUCTVERSION 2,8
FILEVERSION 2,8
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "2.8"
   VALUE "FileDescription", "Russian Doom"
   VALUE "InternalName", "Russian Doom"
   VALUE "CompanyName", "julian.nechaevsky@outlook.com"
   VALUE "LegalCopyright", "\xA9 2016-2018 Julian Nechaevsky. All rights reserved."
   VALUE "ProductName", "Russian Doom"
   VALUE "ProductVersion", "2.8"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0419, 1251
 }
}

