1 ICON "../data/doom.ico"

1 VERSIONINFO
PRODUCTVERSION 2,2
FILEVERSION 2,2
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "2.2"
   VALUE "FileDescription", "Russian DOOM"
   VALUE "InternalName", "Russian DOOM"
   VALUE "CompanyName", "Russian DOOM"
   VALUE "LegalCopyright", "\xA9 2016-2017 Julian Nechaevsky. All rights reserved."
   VALUE "ProductName", "Russian DOOM"
   VALUE "ProductVersion", "2.2"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0419, 1251
 }
}

