1 ICON "../data/setup.ico"

1 VERSIONINFO
PRODUCTVERSION 2,4
FILEVERSION 2,4
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "2.4"
   VALUE "FileDescription", "Программа настроек"
   VALUE "InternalName", "Setup.exe"
   VALUE "CompanyName", "julian.nechaevsky@outlook.com"
   VALUE "LegalCopyright", "\xA9 2016-2017 Julian Nechaevsky. All rights reserved."
   VALUE "ProductName", "Setup.exe"
   VALUE "ProductVersion", "2.4"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0419, 1251
 }
}

