## Command line interface

### Usage

```shell
russian-doom [options]
russian-heretic [options]
russian-hexen [options]
```

### Options
| Option | Description | Available in |
| ------ | ----------- |--------------|
@content
