## Интерфейс командной строки

### Использование

```shell
inter-doom [параметры]
inter-heretic [параметры]
inter-hexen [параметры]
```

### Параметры
| Параметр  | Описание | Доступен в |
|-----------| -------- |------------|
@content
