## Интерфейс командной строки

### Использование

```shell
inter-doom [опции]
inter-heretic [опции]
inter-hexen [опции]
```

### Опции
| Опция | Описание | Доступна в |
| ----- | -------- |------------|
@content
