## Интерфейс командной строки

### Использование

```shell
russian-doom [параметры]
russian-heretic [параметры]
russian-hexen [параметры]
```

### Параметры
| Параметр  | Описание | Доступен в |
|-----------| -------- |------------|
@content
