Makefile
Makefile.in
.deps
*.rc
russian-doom
russian-heretic
russian-hexen
russian-server
russian-strife
russian-doom-setup
russian-heretic-setup
russian-hexen-setup
russian-strife-setup
russian-setup
*.cfg
*.exe
*.desktop
*.txt
!CMakeLists.txt
*.appdata.xml
tags
TAGS
